:root {
    --primary: #1F2123;
    --secondary: #FCB823;
    --text-primary: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5D5D5D;
}

* {
    font-family: "Bebas Neue";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    height: 8vh;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
}

.logonavbar {
    height: 6em;
}

.logofooter {
    width: 5%;
    text-align: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/* Academy subscription form */
#academy-description {
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
    url("../img/esteira.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-primary);
}

div#information-main h2 {
    color: var(--secondary);
    font-size: 3em;
    margin-bottom: 1em;
}

p.about-academy {
    font-size: 2em;
    margin-bottom: 2em;
    max-width: 500px;
}

.form-custom {
    font-size: 1.2em;
}

#subscription-form {
    background-color: var(--primary);
    padding: 2em;
    max-width: 22%;
    font-size: 1.3em;
}

#subscription-form p {
    font-size: 1.5em;
    color: var(--secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label {
     color:var(--text-primary);
     margin-bottom: .3em;
}

.form-group input {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
}

.btn {
    background-color: var(--secondary);
    color: var(--text-secondary);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
    font-size: 1em;
}

.btn:hover {
    opacity: 1;
}

/* Academy benefits section */
section#academy-benefits h2 {
    background-color: var(--primary);
    text-align: center;
    padding: 2em;
    color: var(--secondary);
    font-size: 2em;
}

.benefits {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    background-color: var(--text-tertiary);
    width: 100%;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--secondary);
    font-size: 1.8em;
}

.benefit .benefit-img {
    width: 350px;
    height: 350px;
    border-radius: 1%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1.2em;
}

#benefit-1 {
    background-image: url("../img/bike.svg");
}

#benefit-2 {
    background-image: url("../img/personal_trainer.svg");
}

#benefit-3 {
    background-image: url("../img/fit.svg");
}

/* Academy-location */
#academy-location {
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
    url("../img/fisio.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-primary);
    margin-bottom: 5em;
}

#address,
#about-location {
    max-width: 100%;
}

#address {
    display: flex;
    max-width: 100%;
    font-size: 2em;
}

#address i {
    color: var(--secondary);
    font-size: 4em;
    margin-right: 0.5em;
}

#address-details {
    text-align: center;
    font-size: 1.3em;
}

#about-location h3 {
    color: var(--secondary);
    font-size: 2.5em;
    margin-bottom: 1em;
}

/* Academy details container */
#academy-abouts {
    width: 80%;
    margin: 0 auto;
    background-color: var(--text-secondary);
    margin-bottom: 5em;
    padding: 5em;
    border-radius: 2%;
}

.academy-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.academy-detail img {
    width: 50%;
    border-radius: 5%;
}

.academy-detail h3 {
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 700;
    color: var(--secondary);
}

#detail-1 h3 {
    font-size: 3em;
    font-weight: 700;
}

.detail-description {
    width: 100%;
    padding-left: 2em;
}

.detail-description p {
    font-size: 27px;
    color: var(--text-primary);
}

.detail-description ul {
    list-style-position: inside;
    font-size: 27px;
    color: var(--text-primary);
}

.detail-description ul li {
    margin-bottom: 0.4em;
}

.localimg {
    border-radius: 5%;
    width: 20%;
}

/* Academy-last-call */
#academy-last-call {
    height: 800px;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),
    url("../img/concentrado.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
}

#academy-last-call h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
    color: var(--text-primary);
}

#academy-last-call .btn {
    width: 25%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.5em;
}

/* Academy footer */
#academy-footer {
    text-align: center;
    color: var(--text-primary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
    font-size: 1.1em;
}

#academy-footer h3 {
    font-size: 1.8em;
    margin-bottom: .5em;
    color: var(--secondary);
}

#academy-footer p:nth-child(2){
    margin-bottom: 1em;
    font-size: 1.2em;
}

#academy-footer span {
    font-weight: bold;
}

/* Mobile */
.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--secondary);
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--primary);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }

}

@media (max-width: 450px) {
    .btn {
        opacity: 1;
    }

    .logotipo {
        width: 100%;  
    }
    
    /* Academy subscription form */
    #academy-description{
        flex-direction: column;
        height: auto;
    }

    #information-main {
        padding: 4em;
    }

    div#information-main h2 {
        margin-bottom: 0.5em;
    }

    #subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }
    
    /* Academy benefits section */
    .benefits {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2em;
        font-size: 6px;
    }

    .benefit {
        max-width: 60%;
        margin-bottom: 2em;
    }

    .benefit .benefit-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    /* Academy-location */
    #academy-location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    .localimg {
        display: none;
    }
    
    #address {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #address i {
        margin: .3em 0;
    }

    #about-location {
        order: 1;
        max-width: 100%;
    }

    #about-location h3 {
        margin-bottom: 0;
    }

    #about-location p {
        display: none;
    }

    /* Academy details container */
    #academy-abouts {
        border-radius: 0;
        margin: auto;
        margin-bottom: 5em;
    }
    
    .academy-detail {
        flex-direction: column;
        margin-bottom: .5em;
        gap: 0;
    }

    .academy-detail img {
        width: 100%;
        margin: 2em 0;
        border-radius: 5%;
    }

    #detail-1 img {
        display: none;
    }

    .detail-description {
        padding: 0;
    }

    #detail-3 img {
        order: 2;
    }

    #detail-3 .detail-description {
        order: 1;
    }

    /* Academy-last-call */
    #academy-last-call {
        height: 500px;
    }

    #academy-last-call .btn {
       width: 80%; 
    }

    #academy-last-call h3 {
        text-align: center;
        padding: .5em;
    }
    /* Footer */
    .logofooter {
        width: 25%;
    }
}